

    <!-- mapa -->

    <div class="mapa">
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <div style="width:100%;height:350px" id="map"></div>
      </div>
    </div>
    <!-- directorio -->

{{#each users}}
    <section class="directorio">
      <div
        class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
        uk-grid
      >
        <div class="uk-card-media-left uk-cover-container">
          <img
            src="{{this.photoURL}}"
            alt=""
            style="height:200px"
            uk-cover
          />
          <canvas width="600" height="300"></canvas>
        </div>
        <div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Nombre: {{this.username}}</h3>
            <p>Dirección: {{this.direccion}}</p>
            <div class="uk-card-footer">
              
              <a
                class="uk-button uk-button-default"
                style="margin-top: 10px;"
                href="/profile/{{this.username}}"
              >
                Ver Perfil
              </a>
              <a
                class="uk-button uk-button-default"
                style="margin-top: 10px;"
              >
                Agregar opinión
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    {{/each}}

    <div id="map" style="width: 400px; height: 400px;"></div>


<div id="googleMap" style="width:100%;height:400px;"></div>

<script>
function initMap() {
  
    var Medico1 = {lat: 19.399664, lng: -99.1745000};
    var Medico2 = {lat: 19.387674, lng: -99.1749058};
    var Medico3 = {lat: 19.373764, lng: -99.1740099};
    var Medico4 = {lat: 19.384974, lng: -99.1799955};

     var Medico5 = {lat: 19.300064, lng: -99.1745113};
    var Medico6 = {lat: 19.391316, lng: -99.1755023};
    var Medico7 = {lat: 19.393422, lng: -99.1644043};
    var Medico8 = {lat: 19.394383, lng: -99.1755553};

  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 15, center: Medico1});
  var marker = new google.maps.Marker({position: Medico1, map: map, title: 'Carlos Alberto Becerra Laguna, Montecito 38, Nápoles, 03810 Ciudad de México, CDMX'});
  var markerTwo = new google.maps.Marker({position: Medico2, map: map, title: 'Paola Jacobo Oceguera'});
    var markerThree = new google.maps.Marker({position: Medico3, map: map, title: 'Marco Antonio Perez Mora'});
        var markerFour = new google.maps.Marker({position: Medico4, map: map, title: 'Mariana Moralez'});

        var markerFive = new google.maps.Marker({position: Medico5, map: map, title: 'Octavio Jimenez'});
  var markerSix = new google.maps.Marker({position: Medico6, map: map, title: 'Eduardo Zamarron'});
    var markerSeven = new google.maps.Marker({position: Medico7, map: map, title: 'Mina Salas'});
        var markerEight = new google.maps.Marker({position: Medico8, map: map, title: 'Ana Rojas'});

}
    </script>
  
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeuv5OUrNW0X9zonL9ldzdjgFR9KtRwM8&callback=initMap">
    </script>



{{!-- ////////////////////////////////// --}}


{{!-- <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> --}}