<div id="map" style="width: 400px; height: 400px;"></div>

<h1>Map</h1>

<div id="googleMap" style="width:100%;height:400px;"></div>

<script>
function initMap() {
  
    var uluru = {lat: 19.432608, lng: -99.133209};
    var ulururu = {lat: 19.402608, lng: -99.123209};

  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 15, center: uluru});
  var marker = new google.maps.Marker({position: uluru, map: map, title: 'Doctor1'});
  var markerTwo = new google.maps.Marker({position: ulururu, map: map});
}
    </script>
  
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeuv5OUrNW0X9zonL9ldzdjgFR9KtRwM8&callback=initMap">
    </script>



{{!-- ////////////////////////////////// --}}


<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  
  
  